.z_container {
    width: 700px;
    margin: 0 auto;
    background-color: #e9e9e9;
    padding: 20px;
}

.z_container > div {
    margin: 30px 0;
}

.disable {
    pointer-events: none;
}

/*分页*/
.z_page {
    margin: 50px 0;
}

.z_page > div, .z_page > ul {
    display: inline-block;
    vertical-align: top;
}

.z_page > ul {
    margin: 0 10px;
}

.z_page .z_prev, .z_page .z_next {
    padding: 4px 8px;
    background-color: #F8F8F9;
    border: 1px solid #F8F8F9;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    color: #666666;
}

.z_page .z_prev {
    background-image: url("../images/zlpage.png");
    background-size: 10px 10px;
    background-position: left 8px center;
    background-repeat: no-repeat;
    padding-left: 22px;
}

.z_page .z_next {
    background-image: url("../images/zrpage.png");
    background-size: 10px 10px;
    background-position: right 8px center;
    background-repeat: no-repeat;
    padding-right: 22px;
}

.z_page li {
    display: inline-block;
    font-size: 12px;
    color: #666666;
    cursor: pointer;
    padding: 4px 8px;
    min-width: 30px;
    text-align: center;
    background: #F8F8F9;
    border: 1px solid #F8F8F9;
    border-radius: 4px;
    vertical-align: top;
    margin: 0 2px;
}

.z_page .z_page_active {
    border: 1px solid #2575F4;
    background: #2575F4;
    color: white;
}

.z_gonum {
    vertical-align: top;
    margin-left: 30px;
    font-size: 12px;
    color: #666666;
}

.z_gonum input {
    width: 50px;
    height: 27px;
    background: #F8F8F9;
    border: none;
    text-align: center;
    margin: 0 6px;
}

.z_gonum button {
    font-size: 12px;
    color: white;
    background: #2575F4;
    padding: 0 8px;
    height: 27px;
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
}

/*跑马灯*/
.z_pmdwrap {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: yellow;
}

.z_pmdwrap div {
    display: inline-block;
    font-size: 20px;
    color: #999;
    cursor: pointer;
}

/*下拉框*/
.z_select {
    width: 280px;
}

.z_select span {
    width: 100%;
    height: 30px;
    display: block;
    border: 1px solid #999;
    margin: 0 auto;
    color: #c0c0c0;
    font-size: 16px;
    padding-left: 10px;
    line-height: 30px;
    cursor: pointer;
    background: white url("../images/dropdown_n.png") no-repeat right 10px top 2px;
    background-size: 18px 18px;
}

.z_select ul {
    display: none;
    width: 100%;
    border: 1px solid #999;
    border-top: none;
    max-height: 120px;
    overflow-y: scroll;
    background: white;
    position: relative;
}

.z_select li {
    width: 100%;
    height: 30px;
    padding: 0 10px;
    line-height: 30px;
    color: #999;
    font-size: 16px;
    cursor: pointer;
}

.z_select li:hover {
    background: #4ebbf0;
    color: #fff;
}

/*到顶部*/
.z_gotop {
    font-size: 14px;
    cursor: pointer;
}

/*实现倒计时60秒*/
.z_yzmbtn {
    padding: 0 10px;
    height: 30px;
    text-align: center;
    font-size: 14px;
}

/*上传图片并展示*/
.z_upfile {
    display: none;
}

.z_upimgbtn {
    font-size: 16px;
    cursor: pointer;
}

/*验证码按钮*/
#z_yzmbtn {
    cursor: pointer;
}

/*导航菜单*/
.z_menu {
    background: #007CC5;
    width: 100%;
    height: 60px;
    margin: 0 auto;
}

.z_menu > span {
    width: 200px;
    height: 100%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

.z_menu > span > a {
    font-size: 16px;
    font-weight: bold;
    color: white;
    width: 100%;
    height: 100%;
    display: block;
    line-height: 60px;
}

.z_menu ul {
    display: none;
    position: relative;
    z-index: 100;
}

.z_menu li {
    background: #71A2E2;
    height: 60px;
    line-height: 60px;
    border-top: 1px solid floralwhite;
}

.z_menu li > a {
    font-size: 16px;
    font-weight: bold;
    color: white;
    display: block;
}

.z_menu > span:hover {
    background: #71A2E2;
}

.z_menu > span:hover ul {
    display: block;
}

.z_menu li:hover {
    background: #007CC5;
}

/*tab按钮组*/
.z_button_group span {
    padding: 6px 10px;
    font-size: 16px;
    color: black;
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
    cursor: pointer;
}

.z_button_group .z_button_group_active {
    background: blue;
}









